# --- Core AI & Orchestration ---
langchain
langchain-groq
langchain-huggingface
langchain-community
langchain-core

# --- Document Processing & Vector Store ---
pypdf
faiss-cpu
sentence-transformers

# UI and Dashboard
streamlit
pandas
plotly
graphviz

# Data Modeling and Environment
pydantic
python-dotenv

#Search and Tools
tavily-python